#import_clouds = CLOUDS/test_clouds_import.assign		# import clouds from file (comment out to build)
cloud_fasta = BUILD/test_build.fasta	# use fasta file for cloud formation
export_clouds = CLOUDS/test_clouds_export.assign		# file to export clouds (comment out for no export)
seq_prefix = test			# prefix for annotation sequence files
seq_postfix = .fasta			# postfix for annotation sequence files
seq_dir = ANNOTATE				# dir for annotation sequence files
full_output = RESULTS/test_results.bed

kmer_len = 16				# length for generating kmers
core = 10				# core cloud formation cut-off
outer = 5				# outer cloud formation cut-off
#train_size = 500			# number of sequences for training set (not implemented!!!)

revcomp_kmers = 1			# add reverse compliment of all kmers to clouds for search

no_memorize = 1				# merge locs immediately and print (comment out to memorize)
merge_locations = 1			# report annotations of overlapping cloud as one annotation
merge_window = 10			# merge annotations within merge_window base pairs 
print_ids = 1				# print all cloud ids for merged annotations

###
seed = 248598				# seed for random number generator, if needed
loudness = 3				# detail of program output, default is murmur (2)
record_loudness = 4			# loudness for record file, default is talk (2)
errorout = ErrorLog.txt			# record of errors, appended
record_run = RunRecord.txt		# record of runs, appended
